@import "../../styles/mixin";

.leftBar-container {
  position: relative;
  min-width: 330px;
  width: 100%;
  height: 7rem;
  background-color: mediumpurple;
  @include tablet() {
    height: 8rem;
  }
  @include desktop() {
    min-width: auto;
    width: 10rem;
    height: 100vh;
  }

  > h1 {
    text-align: center;
    font-size: 3rem;
  }
}
