div.saveAndSend-container {
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  button.saveAndSend-container__btn--discard {
  }

  button.saveAndSend-container__btn--saveAsDraft {
  }

  button.saveAndSend-container__btn--saveAndSend {
  }
}
