@import "mixin";
@import "variables";
.app-container {
  display: flex;
  flex-direction: column;
  background-color: $background-main;
  min-height: 100vh;
  width: 100%;

  @include tablet() {
    flex-direction: column;
  }
  @include desktop() {
    flex-direction: row;
  }
}
