@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

$font-spartan: "League Spartan", sans-serif;
$background-left-bar: #373b53;
$background-buttons-violet: #7c5dfa;
$background-buttons-lightViolet: #dfe3fa;
$background-main: #f8f8fb;
$color-text-light-violet: #7e88c3;
